body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 44, 44);
    height: 56px;
    width: auto;
    /* we need a property to remove the spacing around this section */
}

.logo{
    background-color: darkorange;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.search-container{
    display: flex;
}

.search-box{
    padding: 10px;
    padding-right: 40px;
    border-radius: 6px 0 0 6px;
    border: none;
    cursor: pointer;
    width: 920px;
    font-size: 16px;
}

.search-box:focus{
    border: none;
    outline: none;
}

.search-button{
    background: white;
    border: none;
    border-radius: 0 6px 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.menu-container{
    display: flex;
}

.menu-text{
    color: white;
}

.movie-ratings{
    background-color: rgba(0, 0, 0, 0.899);
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.movie-ratings-left-section{
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 10px;
}

.movie-title{
    /* background-color: orange; */
    padding-left: 20px;
    padding-right: 5px;
    color:white;
}

.little-movie-details{
    display: flex;
    gap: 24px;
    font-size: 14px;
}

.movie-ratings-right-section{
    display: flex;
    gap: 12px;
    padding: 16px;
}

.imdb-rating-section,.your-rating-section{
    text-align: right;
}

.imdb-rating-section-header,.your-rating-section-header{
    font-size: small;
    font-weight: bold;
}

.imdb-rating-section-content,.your-rating-section-content{
    display: flex;
    justify-content: end;
    align-items: center;
}

.star-icon-imdb-rating{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.your-rating{
    color: blueviolet;
}

.bi-star{
    margin-right: 5px;
}

.movie-production{
    background-color: rgba(0, 0, 0, 0.899);;
}

.movie-genre-list{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-top: 0px;
    margin-left: 10px;
}

.btn-movie-genre-list-item{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-size: 14px;
    font-weight: 4px;
    padding: 2.5px 6px;
    margin-top: 10px;
}

.plot{
    margin-left: 50px;
    margin-right: 20px;
    color: lightgray;
    line-height: 1.8;
}

.production-details{
    /* background-color: green; */
}

.list-of-production-details{
    list-style-type: none;
    margin-right: 32px;
}

.list-of-production-details-item{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 0.5px solid gray;
}

.list-of-production-details-item-header{
    color: white;
}

.list-of-production-details-item-value{
    color: lightgray;
}